@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo&&family=Stick+No+Bills:wght@600&display=swap');

:root {
  --main: #be3144;
  --secondary: black;
  --light-main: #d25062;
  --light-secondary: black;
  --dark-main: #952735;
  --bg: #f3f4f6;
  --light-text: #f1f1f1;
}

#navbar {
  background: rgb(9, 34, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 34, 121, 1) 0%,
    rgba(9, 34, 121, 1) 20%,
    rgba(0, 18, 85, 1) 50%,
    rgba(9, 34, 121, 1) 80%,
    rgba(9, 34, 121, 1) 100%
  );

  font-family: 'Stick No Bills', sans-serif;
}

#slogan {
  color: #ccc;
  font-family: 'Exo', sans-serif;
}

/* cta */
#cta {
  background-color: #fff;
  background-image: url('/src/images/wave.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Utilities */

div.col {
  text-align: center;
}

h1.cta-title {
  padding: 0 !important;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3rem;
  color: black;
  line-height: 2.5rem;
}

.btn,
.btn-2 {
  padding: 1rem 3rem;
  transition-duration: 0.4s;
  color: #000;
  border: #000 solid 2px;
}

.btn:hover {
  opacity: 0.9;
  color: #fff;
  background-color: rgba(9, 34, 121, 1);
}

.btn-2 {
  color: white;
  border: var(--secondary) solid 1px;
}

.btn-2:hover {
  opacity: 0.9;
  color: #fff;
  background-color: rgba(9, 34, 121, 1);
}

/* General Styling */

.container {
  margin: auto;
  max-width: 1100px;
}

main {
  min-height: 80vh;
  background: var(--bg);
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', cursive;
  color: var(--light-secondary);
}

hr {
  color: white;
}

img {
  width: 100%;
  height: auto;
  /* display: block; */
  border-radius: 5px;
}

.testimonial-img {
  border: none;
  display: block;
  padding: 1rem;
  margin: auto !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-card {
  background: rgb(1, 52, 91);
  background: linear-gradient(
    90deg,
    rgba(1, 52, 91, 1) 0%,
    rgba(0, 31, 55, 1) 100%
  );
  border: solid #142331 2px !important;
  color: #f1f1f1;
  transition: all 0.3s ease-out;
  padding: 1rem;
  margin: 1rem;
}

.home-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.socials {
  background: rgb(1, 52, 91);
  background: linear-gradient(
    90deg,
    rgba(1, 52, 91, 1) 0%,
    rgba(0, 31, 55, 1) 100%
  );
  color: #f1f1f1;
}

.sec-bg {
  border-radius: 5px;
  padding: 2rem;
  background: rgb(1, 52, 91);
  background: linear-gradient(
    90deg,
    rgba(1, 52, 91, 1) 0%,
    rgba(0, 31, 55, 1) 100%
  );

  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.sec-bg .text,
.sec-bg h2 {
  color: #f1f1f1;
}

/* Navbar */

a#brand.navbar-brand {
  margin: 0;
  padding: 0;
}

#navbar #brand {
  color: #ccc;
  font-size: 2.5rem;
}

#link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: #ccc solid 1px;
  transition: 0.5s;
  color: #ccc;
}

#link:hover {
  opacity: 0.9;
  color: #142331;
  background-color: #a2d9ff;
}

a.nav-link {
  padding: 0.5rem !important;
  margin: 0.5rem !important;
}

/* Footer */
footer {
  background: rgb(9, 34, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 34, 121, 1) 0%,
    rgba(9, 34, 121, 1) 20%,
    rgba(0, 18, 85, 1) 50%,
    rgba(9, 34, 121, 1) 80%,
    rgba(9, 34, 121, 1) 100%
  );
}

h1.cta-title {
  padding-top: 5rem;
}

@media only screen and (max-width: 1200px) {
  img {
    margin: 1rem 0;
  }
  .sec-bg {
    margin: 1rem 0;
  }

  h1.cta-title {
    padding-top: 0rem;
  }
}

@media only screen and (max-width: 768px) {
  .sec-bg {
    margin: 1rem;
  }
}
